<%= simple_form_for(@nota) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :aluno %>
    <%= f.association :disciplina %>
    <%= f.input :p1 %>
    <%= f.input :p2 %>
    <%= f.input :p3 %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
